doctype html
//
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
  head
    title Alfred
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/main.css')
  body
    // Header
    header#header.alt
      .logo
        a(href='/')
          | Siva
          span corp
      a(href='#menu') Menu
    // Nav
    nav#menu
      ul.links

        li
          a(href='/generic') Generic

    // Banner
    section.banner.full
      article
        img(src='images/slide01.jpg', alt='')
        .inner
          header
            p
              | A free responsive web site template by 
              a(href='https://templated.co') TEMPLATED
            h2 Hielo
      article
        img(src='images/slide02.jpg', alt='')
        .inner
          header
            p Lorem ipsum dolor sit amet nullam feugiat
            h2 Magna etiam
      article
        img(src='images/slide03.jpg', alt='')
        .inner
          header
            p Sed cursus aliuam veroeros lorem ipsum nullam
            h2 Tempus dolor
      article
        img(src='images/slide04.jpg', alt='')
        .inner
          header
            p Adipiscing lorem ipsum feugiat sed phasellus consequat
            h2 Etiam feugiat
      article
        img(src='images/slide05.jpg', alt='')
        .inner
          header
            p Ipsum dolor sed magna veroeros lorem ipsum
            h2 Lorem adipiscing
    // One
    section#one.wrapper.style2
      .inner
        .grid-style
          div
            .box
              .image.fit
                img(src='images/pic02.jpg', alt='')
              .content
                header.align-center
                  p maecenas sapien feugiat ex purus
                  h2 Lorem ipsum dolor
                p
                  | Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.
                footer.align-center
                  a.button.alt(href='#') Learn More
          div
            .box
              .image.fit
                img(src='images/pic03.jpg', alt='')
              .content
                header.align-center
                  p mattis elementum sapien pretium tellus
                  h2 Vestibulum sit amet
                p
                  | Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.
                footer.align-center
                  a.button.alt(href='#') Learn More
    // Two
    section#two.wrapper.style3
      .inner
        header.align-center
          p Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna
          h2 Morbi maximus justo
    // Three
    section#three.wrapper.style2
      .inner
        header.align-center
          p.special Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna
          h2 Morbi maximus justo
        .gallery
          div
            .image.fit
              a(href='#')
                img(src='images/pic01.jpg', alt='')
          div
            .image.fit
              a(href='#')
                img(src='images/pic02.jpg', alt='')
          div
            .image.fit
              a(href='#')
                img(src='images/pic03.jpg', alt='')
          div
            .image.fit
              a(href='#')
                img(src='images/pic04.jpg', alt='')
    // Footer
    footer#footer
      .container
        ul.icons
          li
            a.icon.fa-twitter(href='#')
              span.label Twitter
          li
            a.icon.fa-facebook(href='#')
              span.label Facebook
          li
            a.icon.fa-instagram(href='#')
              span.label Instagram
          li
            a.icon.fa-envelope-o(href='#')
              span.label Email
      .copyright
        | © Untitled. All rights reserved.
    // Scripts
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/jquery.scrollex.min.js')
    script(src='javascripts/skel.min.js')
    script(src='javascripts/util.js')
    script(src='javascripts/main.js')

